.mentoring-bases {
    margin: 0 auto;
    text-align: center;
}

.mentoring-bases h2 {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 72px;
}

.mentoring-bases h2 span {
    text-transform: uppercase;
    font-weight: 700;
    color: #53A670;
}

.mentoring-bases .bases {
    display: flex;
    padding: 65px;
    gap: 110px;
    background-color: #1B1D1D;
}

.mentoring-bases .bases div {
    width: 331px;
}

.mentoring-bases .bases div img:not(button img) {
    width: 66px;
    height: 66px;
    margin-bottom: 36px;
}

.mentoring-bases .bases div h3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 12px;
}

.mentoring-bases .bases p {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    color: #C3C3C3;
    margin-bottom: 32px;
}

.mentoring-bases .bases button a {
    display: flex;
    color: #53A670;
    font-size: 12px;
    align-items: center;
    padding: 15px 20px;
    transition: 0.3s ease-in-out;
}

.mentoring-bases .bases button a img {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
    margin-left: 11px;
    color: #FFF;
}

.mentoring-bases .bases button a:hover {
    font-weight: 700;
    background: black;
}
