@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

button a {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    padding: 21px 38px;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

button a:hover {
    background: #038C3E;
}

#join-now-btn {
    margin-right: calc(80px - 38px);
}