.world-map {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
}

.world-map .trading-infos {
    width: 505px;
}

.world-map .trading-infos h2 {
    font-size: 32px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 65px;
}

.world-map .trading-infos h2 span {
    color: #53A670;
}

.world-map .trading-infos .info {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.world-map .trading-infos .info p {
    font-family: 'DM Sans', sans-serif;
    color: #C3C3C3;
}

.world-map .trading-infos .info .highlighted-paragraph {
    color: #53A670;
}

.world-map .trading-infos .info img {
    width: 48px;
    height: 48px;
    margin: 18px 53px 18px 25px;
}

.world-map-image {
    background: url("../assets/bg-mundi.png") center no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 750px;
    height: 450px;
}